*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid-container div {
    outline: 1px solid black;
    padding: 10px;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}