*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --gap-sm: 0.5rem;
    --gap-md: 1rem;
    --gap-lg: 3rem;
    --announcement-border: 1px solid grey;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid-container div {
    outline: 1px solid black;
    padding: 10px;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.sidebar {
    grid-area: sidebar;
}

.sidebar, .navigation {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: var(--gap-lg);
}

.account-links, .main-links {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md)
}

.branding, .main-links-item, .account-links-item {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: max-content max-content;
    grid-template-areas:
    "search user"
    "greet actions";
}

.searchbar {
    grid-area: search;
    display: flex;
    gap: var(--gap-sm);
}

.icon-search {
    max-width: 100px;
}

.searchbar input {
    flex: 1;
}

.user-menu {
    grid-area: user;
    display: flex;
    justify-content: space-evenly;
    gap: var(--gap-sm);
}

.greeting {
    grid-area: greet;
    display: flex;
    gap: var(--gap-sm);
}

.greeting-text {
    flex: 1;
}

.header-actions {
    grid-area: actions;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap-sm);
}

.header-actions > button {
    flex: 1 1 30%;
    color: white;
    background-color: #1992D4;
    border: none;
    border-radius: 20px;
    padding: 0.5em;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
}

.projects-wrapper {
    grid-area: projects;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--gap-md);
}

.announcements-wrapper {
    grid-area: announcements;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--gap-md);
}

.trending-wrapper {
    grid-area: trending;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: var(--gap-md);
}

.project {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--gap-sm);
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-sm);
}

.announcements {
    display: grid;
    gap: var(--gap-sm);
}

.announcement + .announcement {
    border-top: var(--announcement-border);
    padding-top: var(--gap-sm);
}